DISCORD_TOKEN=your_discord_token_here
GUILD_ID=your_guild_id_here
SPRING_DATA_MONGODB_URI=mongodb://localhost:27017/endlessdb
SPRING_DATA_MONGODB_DATABASE=endlessdb
BOT_CHANNEL_ID=your_bot_channel_id_here
GENERAL_CHANNEL_ID=your_general_channel_id_here

# JoinLeaveConfig
JOIN_LEAVE_CHANNEL_ID=your_join_leave_channel_id_here
JOIN_LEAVE_NEWBY_ROLE_ID=your_newby_role_id_here
JOIN_LEAVE_URL=https://discord.gg/your_invite_link
JOIN_LEAVE_AUTHOR_NAME="Your Server Name"
JOIN_LEAVE_EMBED_IMAGE_JOIN=your_image_url_here
JOIN_LEAVE_EMBED_IMAGE_LEAVE=your_image_url_here

# ReactionRolesConfig
REACTION_ROLES_SEND_MESSAGE=false
REACTION_ROLES_CHANNEL_ID=your_reaction_roles_channel_id
REACTION_ROLES_14_PLUS_ID=your_role_id
REACTION_ROLES_16_PLUS_ID=your_role_id
REACTION_ROLES_18_PLUS_ID=your_role_id
REACTION_ROLES_20_PLUS_ID=your_role_id
REACTION_ROLES_MINECRAFT_ID=your_role_id
REACTION_ROLES_ARTIST_ID=your_role_id
REACTION_ROLES_PRODUCER_ID=your_role_id
REACTION_ROLES_SINGER_ID=your_role_id
REACTION_ROLES_LOOKING_FOR_VOCALIST_ID=your_role_id
REACTION_ROLES_LOOKING_FOR_PRODUCER_ID=your_role_id
REACTION_ROLES_GAMER_ID=your_role_id
REACTION_ROLES_OTAKU_ID=your_role_id
REACTION_ROLES_VR_ID=your_role_id
REACTION_ROLES_BEATBOXER_ID=your_role_id

# EndlessBotConfig
BOT_THUMBNAIL_URL=url_here
BOT_ICON_URL=url_here
BOT_FOOTER_TEXT=""

# LevelRoles
LEVEL_ROLE_VISITOR=your_role_id
LEVEL_ROLE_NEWUSER=your_role_id
LEVEL_ROLE_USER=your_role_id
LEVEL_ROLE_KNOWS=your_role_id
LEVEL_ROLE_TRUSTED=your_role_id
LEVEL_ROLE_VETERAN=your_role_id

# LevelConfig
LEVEL_REQ_VISITOR=0
LEVEL_REQ_NEWUSER=10
LEVEL_REQ_USER=25
LEVEL_REQ_KNOWS=50
LEVEL_REQ_TRUSTED=85
LEVEL_REQ_VETERAN=125